name: test
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 0 * * 0'

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run Tests
        uses: actions-rs/cargo@v1
        with:
          command: test
        env:
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
